* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    padding: 2rem 1rem 2rem;
    align-items: start;
    justify-content: center;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.nav-main {
    display: none;
}
.nav-main li {
    display: inline-block;
    padding-right: 1rem;
}
.nav-main li:last-child {
    padding: 0;
}
section {
    margin: 1rem;
}
article {
    padding: 1rem;
}
#logo-wrapper {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 1.25rem;
}
.grid-item {
    padding: 1rem;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.sm-txt {
    text-indent: 1.5rem;
    margin-bottom: 1.5em;
    text-align: justify;
    text-justify: auto;
    ;
}
#icons {
    margin-top: 1rem;
    margin-left: 2rem;
}
i {
    margin: 0 6px;
}

@media (min-width: 760px) {
    header {
        justify-content: space-between;
    }
    .nav-main {
        display: revert;
    }
    #logo-wrapper {
        text-align: start;
    }
    
}