:root {
    font-size: 16px;
}
body {
    background-color: hsl(0, 0%, 96%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    color: hsl(0, 0%, 18%);
}
header {
    background-color: hsl(200, 100%, 20%);
    color: hsl(0, 0%, 84%);
    text-shadow: 1px 1px hsl(0, 0%, 0%);
}
nav {
    color: hsl(0, 0%, 88%);
}
footer {
    background-color: hsl(200, 100%, 30%);
}
.nav-main ul {
    list-style-type: none;
}
.nav-main li {
    text-transform: uppercase;
}
.grid-item {
    background-color: hsl(200, 100%, 46%);
}
.grid-item:nth-child(even) {
    background-color: hsl(200, 100%, 36%);
}
.border {
    border: 2px solid hsl(0, 0%, 0%);
}
li a, li a:visited, li a:active {
    color:hsl(180, 100%, 36%);
    text-decoration: none;
}
li a:hover {
    color: hsl(0, 0%, 84%);
}
.sm-txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
}
#copyright {
    font-size: .7em;
    color: hsl(0, 0%, 86%);
}
h1 {
    line-height: 1;
}
a, a:visited {
    color: hsl(0, 0%, 88%);
}
a:hover {
    color: hsl(200, 100%, 50%);
}