
body {
    background-color: hsl(0, 0%, 96%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    color: hsl(0, 0%, 18%);
}

header {
    background-color: hsl(200, 100%, 20%);
    color: hsl(0, 0%, 84%);
    text-shadow: 1px 1px hsl(0, 0%, 0%);
}
nav {
    background-color: hsl(0, 56%, 16%);
    color: hsl(0, 0%, 88%);
}
footer {
    background-color: hsl(200, 100%, 30%);
}
.nav-main ul {
    list-style-type: none;
}
.nav-main li {
    text-transform: uppercase;
}
.grid-item {
    background-color: hsl(200, 100%, 46%);
}
.grid-item:nth-child(even) {
    background-color: hsl(200, 100%, 36%);
}
.border {
    border: 2px solid hsl(0, 0%, 0%);
}
li a, li a:visited, li a:active {
    color:hsl(180, 100%, 27%);
    text-decoration: none;
}
li a:hover {
    color: hsl(0, 0%, 84%);
}

#copyright {
    font-size: .7em;
    color: hsl(0, 0%, 86%);
}